 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 #location-map {
   height: 100%;
 }
 
 #places-search {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 70%;
  margin: 5px 11px;
}

#places-search:focus {
  border-color: #4d90fe;
}

 p {
   line-height: 2rem;
 }
 
 .btn-begin-journey {
    padding-top: 50px;
 }

 .parallax-container {
   min-height: 580px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
.btn-login {
  width: 185px;
  margin-left: 3px;
}

.or-divider {
  padding-left: 50px;
}

.file-drop {
  border: 2px dotted black;
  min-height: 150px;
}

.btn-music-mobile {
  padding: 0 19px;
}

 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }